<!DOCTYPE html>
<html lang="en">
<%-include ("../partials/head.ejs") %>

    <body>
        <%-include ("../partials/header.ejs") %>
            <main>
                <div class="container products-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="products-title"> Product <i></i></h2>
                        </div>
                    </div>
                    <div class="col-12">
                        <form class="form-Product" action="/products/create" method="POST" enctype='multipart/form-data'>
                            <div class="row product-detail">
                                <div class="col-12 col-md-6">
                                    <label for="name" class="form-label">Product Name</label>
                                    <input type="text" id="name" name="name" placeholder="Eg: Delta 8 Gummies"
                                        class="form-input" value="" data-nombre="name">
                                    <br>
                                    <span></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="price" class="form-label">Price</label>
                                    <input type="text" id="price" name="price" placeholder="Eg: 5678" class="form-input"
                                        value="" data-nombre="price">
                                    <br>
                                    <span></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="file" class="form-label">Image</label>
                                    <div class="images-product">
                                        <img src="/img/img.png" alt="" class="file-input-img">
                                        <img src="/img/img.png" alt="" class="file-input-img">
                                        <img src="/img/img.png" alt="" class="file-input-img">
                                    </div>
                                    <div id="imagePreview"></div>
                                    <input type="file" id="file" name="image" class="form-input file-input" data-nombre="file" onchange="return ProductFileValidation()">>
                                    <br>
                                    <span></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="family_id" class="form-label">Familia de Productos</label>
                                    <select name="family_id" class="form-input" required>
                                        <option value="" disabled selected>- Choose an option - </option>
                                        <% productFamily.forEach(Family => { %>
                                        <option value="<%= Family.id %>"><%= Family.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="category_Id" class="form-label">Categoria</label>
                                    <select name="category_Id" class="form-input" required>
                                        <option value="" disabled selected>- Choose an option - </option>
                                        <% productCategory.forEach(Category => { %>
                                        <option value="<%= Category.id %>"><%= Category.name %></option>
                                        <% }); %>
                                    </select>                                  
                                </div>
                                <div class="col-12">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea name="description" id="description" class="form-input" data-nombre="description"></textarea>
                                    <br>
                                    <span></span>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="buy-now-button">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <%-include ("../partials/footer.ejs") %>
            <script src="/js/productsValidations.js"></script>
    </body>

</html>