<!DOCTYPE html>
<html lang="en">
    <%-include ("../partials/head.ejs") %>
<body>
        
	    <div class="container">
            <%-include ("../partials/header.ejs") %>
            <main>
                
                <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                        <a href="/"> <h1><strong>Maryjane</strong> Growshop </h1> </a>
                            <div class="description">
                            	<p>
	                            	Logeate para conseguir todos los beneficios de la página
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="img-login-form"><i class="fa-solid fa-user"></i> </div>
                        	<div class="form-top">
                                
                        		<div class="form-top-left">
                        			<h3>Login</h3>
                            		<p class="parrafo-hide">Ingresa tu email y <br> contraseña:</p>
                        		</div>
                        	</div>
                            <div class="form-bottom">
			                    <form action="/users/login" method="post" class="login-form" id="login-form">
			                    	<div class="form-group" id="grupo__email">
			                    		<span>Email </span>
			                        	<input type="text" name="email" placeholder="Email" class="form-username form-control" id="username_login" data-nombre="email">
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        <% if (locals.errors && errors.email) { %>
                                            <div class="text-danger">
                                                <%= errors.email.msg %> 
                                            </div>
                                        <% } %>
                                        <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                                    </div>
			                        <div class="form-group" id="grupo__password">
			                        	<span>Contraseña </span>
			                        	<input type="password" name="password" placeholder="Contraseña" class="form-password form-control" id="password_login" data-nombre="password">
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        <% if (locals.errors && errors.password) { %>
                                            <div class="text-danger">
                                                <%= errors.password.msg %> 
                                            </div>
                                        <% } %>
                                        <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                                    </div>
                                    <div class="password">
                                        <div class="password-remember">
                                            <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario 
                                        </div>
                                        <div class="password-recovery"> 
                                            <a href="#"> Olvidaste la contraseña?</a> 
                                        </div>
                                    </div>
                                    <div class="formulario__mensaje" id="formulario__mensaje">
                                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                                    </div>
			                        <input type="submit" class="btn btnIn" value="Ingresa!">
                                    <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    <div class="bottom-bottom-form">
                    <h3>No tenés una cuenta? <a href="register"> Registrate acá</a></h3>
                    
                    </div>
                </div>
            </div>
            
        </div>
        <a href="/users/profile">Perfil</a>
            </main>
            <%-include ("../partials/footer.ejs") %> 
    <script src="/js/loginValidations.js"></script>
</body>
</html>